@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Matemasie&display=swap');
h1{
    color: red;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;

}
img{
    width: 25px;
    height: 25px;
}

.medalhas{
    width: 15px;
    height: 15px;
}

td{
    text-align: center;
}

.pais{
    text-align: left;
    width: 200px;/
}

td img:hover{
    transform: scale(2);
}

tr:hover{
    background-color: crimson;
}